.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.container-image {
  position: fixed;
  background-image: url("../../ludwig_van_beethoven.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  /* Add the blur effect */
  filter: blur(8px) brightness(50%);
  transform: scale(1.2);
  width: 100%;
  height: 100%;
}

.about-container {
  position: relative;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s;
  -o-animation: fadein 3s; /* Opera */
  /* opacity: 0;
  transition: opacity 1s;
  -webkit-transition: background 1s; */
  width: 95%;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.head-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 15px;
}

.redirect-container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
}

.redirect-container__button {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: peachpuff;
  border-radius: 100%;
  border-style: double;
  box-shadow: rgba(255, 236, 236, 0.35) 2px 2px 15px;
}
.redirect-container__button:hover {
  background-color: rgb(240, 192, 150);
  cursor: pointer;
}
.github-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.github-container__img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: rgba(255, 236, 236, 0.35) 2px 2px 15px;
}
.github-container__img:hover {
  cursor: pointer;
}
.header-container {
  /* position: absolute; */
  box-shadow: rgba(255, 236, 236, 0.35) 5px 5px 20px;
  width: 40%;
  height: 80%;
  border-radius: 10px;
  padding: 20px;
  background-color: peachpuff;
}

.header-container__h1 {
  text-align: center;
}

.header-container__p {
  text-align: center;

  font-size: 18px;
  font-weight: 500;
}
.no-header-container {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: auto;
}

.description-container {
  box-shadow: rgba(255, 236, 236, 0.35) 5px 5px 20px;
  float: left;
  width: 65%;
  background-color: peachpuff;
  border-radius: 10px;
  /* margin: 10px; */
  padding: 10px;
  margin-left: 40px;
}

.main-heading-border {
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 5px dotted black;
}

.description-container__h2,
.description-container__h3,
.description-container__p,
.description-row-container__h3,
.description-row-container__p {
  margin-left: 20px;
}

.description-container__p {
  font-weight: 500;
  padding-left: 2%;
  padding-right: 2%;
}

.description-row-container__p {
  font-weight: 500;
  padding-left: 2%;
  padding-right: 2%;
}

.resources-container {
  padding-left: 20px;
  float: left;
  border-radius: 10px;
  position: sticky;
}

.resource-container {
  margin: 20px;
}

.resource-container__img {
  position: relative;

  fill: peachpuff;
  width: 120px;
  height: 180px;
}

svg {
  fill: peachpuff !important;
}
svg:hover {
  fill: rgb(240, 192, 150) !important;
}

.resource-container__img--larger,
.resource-container__img:hover {
  /* width: 170px;
  height: 220px; */
  cursor: pointer;
}

.slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}
.slideshow-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.slideshow-image-container__img {
  border-radius: 5px;
  width: 20%;
  height: 30%;
  padding-bottom: 10px;
}
.beethoven-9th {
  border-radius: 5px;
  width: 50%;
  height: 66vh;
  padding-bottom: 10px;
}
/* .resource-container__p {
  text-align: center;
  font-weight: 500;
} */

.tooltip {
  position: relative;
}
.tooltip .tooltiptext {
  margin-top: 30px;
  visibility: hidden;
  width: auto;
  min-width: 200px;
  max-width: 300px;
  max-height: 200px;
  background-color: peachpuff;
  color: black;
  font-weight: 500;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 10px 0;

  top: -5px;
  left: 110%;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;

  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent peachpuff transparent transparent;
}
